<html>
    <head>
        <title>Search Repo Milestones</title>
    </head>
    <body>
        <form action="/logout">
            <p><input type="submit" value="Log out"/></p>
        </form>
        <h1>Search Milestones</h1>
        <form action="/milestones" id="form">
            <p>
                Owner
                <input type="text" name="owner" placeholder="Owner Name" required/>
            </p>
            <p>
                Repository
                <input type="text" name="repo" placeholder="Repository's Name" required/>
            </p>
           <p><input type="submit" value="Search"/></p>
        </form>
        <form action="/github-servlet">
            <p><input type="submit" value="Authorize"/></p>
        </form>
    </body>
</html>